<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-info">
          <img src="/assets/img/badge.png" id="footer-logo" />
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{ "footer.useful_links" | translate }}</h4>
          <ul>
            <!-- <li><i class="ion-ios-arrow-right"></i> <a
                  href="./hoodies/index.php?lang=<?php echo $t->lang ?>">Réserver un hoodie</a></li> -->
            <li>
              <i class="ion-ios-arrow-right"></i>
              <a href="http://adeptinfo.ca/lan">{{
                "footer.lan_adept" | translate
              }}</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i>
              <a href="#about" class="btn-get-started scrollto">{{
                "footer.about" | translate
              }}</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i>
              <a href="#services" class="btn-get-started scrollto">{{
                "footer.services" | translate
              }}</a>
            </li>
            <li>
              <i class="ion-ios-arrow-right"></i>
              <a
                href="https://adept-informatique.github.io/Charte/"
                class="btn-get-started scrollto"
                >{{ "footer.charter" | translate }}</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>{{ "footer.visit_us" | translate }}</h4>
          <p>
            945 chemin Chambly, Longueuil<br />Local F-045, CEM,<br />Québec,
            Canada
            <br />
            <a href="mailto:adept.informatique.cem@gmail.com">{{
              "footer.email_us" | translate
            }}</a>
          </p>
          <div class="social-links">
            <!--
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    -->
            <a
              href="https://www.facebook.com/ADEPTInformatique/"
              class="facebook"
              ><i class="fa fa-facebook"></i
            ></a>
            <a href="https://github.com/ADEPT-Informatique" class="git-hub"
              ><i class="fa fa-github"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>{{ "footer.input_subscribe" | translate }}</h4>
          <p>{{ "footer.newsletter_txt" | translate }}</p>
          <form action="controller/subscribe.php" method="post">
            <input
              type="email"
              name="email"
              placeholder="Email"
              required
            /><input type="submit" value="S'abonner" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright {{ year }}
      <strong class="green">ADEPT Informatique</strong>.
      {{ "footer.copyright" | translate }}
    </div>
    <div class="credits">
      Ce site web est
      <a href="https://github.com/adept-informatique/adeptinfo.ca"
        >open-source</a
      >. Merci à
      <a href="https://github.com/ADEPT-Informatique/adeptinfo.ca#remerciements"
        >tous ceux qui y ont collaboré</a
      >
      ! <br /><span class="black"
        >Why do Java programmers wear glasses ? Because they can't C# ;)</span
      >
    </div>
  </div>
</footer>
