body{
    background: black;
    padding-top: 90px;
}

.content{
    padding-top: 20px;
    padding-bottom: 50px;
    color: white;
}

.content .section-header h3{
    color: white;
}


img{
    max-width: 100%;
}