<header id="header">
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">ADEPT</a></h1>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active d-block d-sm-none"><a href="#intro">Accueil</a></li>
          <li><a href="#about">Qui sommes nous</a></li>
          <li><a href="#services">Nos services</a></li>
          <li><a href="#team">Membres du conseil</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="http://adeptinfo.ca/lan">LAN de L'ADEPT</a></li>
        </ul>
      </nav>
    </div>
  </header>