<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-info">
					<img src="/assets/img/badge.png" id="footer-logo" alt="ad"/>
				</div>
				<div class="col-lg-3 col-md-6 footer-links">
					<h4>{{ "footer.useful_links" | translate }}</h4>
					<ul>
						<li>
							<em class="fas fa-chevron-right"></em>
							<a href="http://adeptinfo.ca/lan">{{
								"footer.lan_adept" | translate
							}}</a>
						</li>
						<li>
							<em class="fas fa-chevron-right"></em>
							<a href="#about" class="btn-get-started scrollto">{{
								"footer.about" | translate
							}}</a>
						</li>
						<li>
							<em class="fas fa-chevron-right"></em>
							<a
								href="#services"
								class="btn-get-started scrollto"
								>{{ "footer.services" | translate }}</a
							>
						</li>
						<li>
							<em class="fas fa-chevron-right"></em>
							<a
								href="https://adept-informatique.github.io/Charte/"
								class="btn-get-started scrollto"
								>{{ "footer.charter" | translate }}</a
							>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>{{ "footer.visit_us" | translate }}</h4>
					<p>
						945 chemin Chambly, Longueuil<br />Local F-045, CEM,<br />Québec,
						Canada
						<br />
					</p>
					<a href="mailto:adept.informatique.cem@gmail.com">
						{{"footer.email_us" | translate}}
					</a>
					<div class="social-links">
						<a
							href="https://www.facebook.com/ADEPTInformatique/"
							class="facebook"
							><em class="fab fa-facebook"></em
						></a>
						<a
							href="https://github.com/ADEPT-Informatique"
							class="git-hub"
							><em class="fab fa-github"></em></a>
						<a
							href="https://discord.com/invite/KYZ5JQB"
							class="discord">
							<em class="fab fa-discord"></em>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-newsletter">
					<h4>{{ "footer.input_subscribe" | translate }}</h4>
					<p>{{ "footer.newsletter_txt" | translate }}</p>
					<form action="" method="post">
						<input
							type="email"
							name="email"
							placeholder="Email"
							required
						/><button>{{ "footer.input_subscribe" | translate}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="copyright">
			&copy; Copyright {{ year }}
			<strong class="green">ADEPT Informatique</strong>.
			{{ "footer.copyright" | translate }}
		</div>
		<div class="credits">
			Ce site web est
			<a href="https://github.com/adept-informatique/adeptinfo.ca"
				>open-source</a
			>. Merci à
			<a
				href="https://github.com/ADEPT-Informatique/adeptinfo.ca#remerciements"
				>tous ceux qui y ont collaboré</a
			>
			! <br /><span class="black"
				>Why do Java programmers wear glasses ? Because they can't C#
				;)</span>
		</div>
	</div>
</footer>
