#footer {
	background: #000;
	padding: 0 0 30px 0;
	color: #eee;
}

#footer .footer-top {
	background: #111;
	padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
	margin-bottom: 30px;
}

#footer .footer-top .footer-info p {
	line-height: 24px;
	margin-bottom: 0;
	color: #eee;
}

#footer .footer-top .social-links{
	display: flex;
	gap : 16px;
	margin-top: 16px;
}

#footer .footer-top .social-links a {
	display: grid;
	place-items: center;
	background: #333;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	text-decoration: none;
}

#footer .footer-top h4 {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
}

#footer .footer-top h4::before {
	right: 0;
	background: #555;
}

#footer .footer-top h4::after {
	background: #10d213;
	width: 60px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul em {
	padding-right: 8px;
	color: #ddd;
}

#footer .footer-top .footer-links ul li {
	border-bottom: 1px solid #eee;
	padding: 8px 0;
	font-weight: 700;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul li a {
	color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
	color: var(--primary-color);
}

#footer .footer-top .footer-contact {
	margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
	margin-top: 16px;
}

#footer .footer-top .footer-contact a {
	color: var(--primary-color);
}

#footer .footer-top .footer-newsletter {
	margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter p {
	margin-top: 16px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
	border: 0;
	padding: 6px 8px;
	width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
	background: #10d213;
	border: 0;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
	background: #13a456;
}

#footer .copyright {
	text-align: center;
	padding-top: 30px;
}

#footer .credits {
	text-align: center;
	color: #ddd;
}

#footer-logo {
	max-width: 100%;
}

@media (max-width: 790px) {
	.hidden-mobile {
		display: none !important;
	}

	#call-to-action {
		background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)),
			url("/assets/img/bg-lan.jpg") center center;
	}
}

.table {
	color: black;
}
