:root {
  --primary-color: #10d213;
  --white:#fff;
  --accent-color: #123;

  --background-layer-one: #ececec;
  --background-layer-two: #dcdcdc;
  --background-layer-three: #cccccc;
  --background-layer-four: #bcbcbc;

  --black-color: #070706;
  --dark-grey-color: #1a1b1a25;
  --cyan-color: #5ab7ae;
  --blue-color: #3a68b8;
  --messenger-blue-color: #0084ff;
  --blurple-color: #5865f2;
}

button{
	background: var(--primary-color);
	color: var(--white);
	border-radius: 16px;
	&:hover{
		background: var(--black-color);
		color: var(--primary-color)
	}
}
