:root {
  --primary-color: #10d213;
  --accent-color: #123;

  --background-layer-one: #121212;
  --background-layer-two: #222222;
  --background-layer-three: #323232;
  --background-layer-four: #424242;

  --black-color: #070706;
  --dark-grey-color: #1a1b1a25;
  --cyan-color: #5ab7ae;
  --blue-color: #3a68b8;
  --messenger-blue-color: #0084ff;
  --blurple-color: #5865f2;
}
