

#about::before, #team, #footer{
    background: rgba(162, 36, 255, 0.7); !important;
}

p.description{
    color:black !important;
}

#featured-services{
    background: #6f42c1;
}

h3.small-title {
    color:white !important;
}

h4 a, h4, h3{
    color: rgb(162, 36, 255); !important;
}

.nav-menu a,#header #logo h1 a{
    color : rgb(162, 36, 255) !important;
}

#services{
    background: #de84ff !important; ;
}

#about .section-header p{
    color:white;
}

.btn-primary.btn, #intro .btn-get-started,#emailbtn{
    background: rgb(162, 36, 255); !important;
}

button{
    background: rgb(162, 36, 255); !important;
}