.container{
    padding-top: 90px;
}

tr.clickable:hover{
    background-color: dodgerblue;
    color: white;
}

td, th{
    text-align: center;
}

.info{
    text-align: center;
    font-size: 40px;
}

.strong {
    font-weight: bold;
}

.btn{
    margin-bottom: 20px;
}

.super{
    font-size: 80px;
    color: #883cbf;

}

#searchBtn :hover{
    background: deepskyblue;
    color: white;
}

.red {
    color:white;
    background-color : #e10000;
}

.green{
    color:white;
    background-color: limegreen;
}

.yellow{
    background-color : gold;
}

/*=========== Page de login ==============================*/

.login{
    margin: 70px auto;
    -webkit-box-shadow: 7px 7px 33px -6px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px 7px 33px -6px rgba(0,0,0,0.24);
    box-shadow: 7px 7px 33px -6px rgba(0,0,0,0.24);
}

body.loginPage {

    background: #1941a7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1CB5E0, #1941a7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1CB5E0, #1941a7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 606px){

    .login{
        margin-top: 60px !important;
        width: 20rem !important;
    }

    .no-margin-xs{
        margin: 0;
        padding: 0;
    }
}

/*=========== Page d'historique ==============================*/

.icon-recupered,
.icon-update,
.icon-delete{
    font-size: 24px;
}

.icon-delete{
    color: #ca0000;
}

.icon-update{
    color: #1782e0;
}

.icon-recupered{
    color:limegreen;
}
