* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  $primary-color: #10d213;
  $messenger-color: #0084ff;
  $discord-color: #7289da;
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500");
@font-face {
  font-family: "Imagine";
  src: url("/assets/font/imagine-font.woff2") format("woff2"),
    url("/assets/font/imagine-font.woff") format("woff"),
    url("/assets/font/imagine-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
